body {
    display: grid;
    background-image: radial-gradient(circle at center, rgb(90, 100, 110), rgb(70, 80, 90) 50%, rgb(80, 80, 100));
    grid-template-areas: 
        "topnav"
        "question"
        "category"
        "answer"
        "utils"
        "blank"
        "footer";
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 6fr 1fr;
    height: 100vh;
}

.topnav {
    grid-area: topnav;
    background-image: radial-gradient(circle at center, rgb(90, 100, 110), rgb(70, 80, 90) 50%, rgb(80, 80, 100));
    /* border-bottom: 1px solid mediumslateblue; */
    color: white;
    font-size: 1em;
    display: grid;
    grid-template-areas: 
        "home stats navs";
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home {
    grid-area: home;
    display: flex;
    align-items: center;
}

.stats {
    grid-area: stats;
    margin: 0 auto;
    font-size: 2em;
}

.navs {
    grid-area: navs;
    justify-self: end;
}

.question {
    grid-area: question;
    background-color: rgb(214, 171, 224);
    background-image: linear-gradient(to right, RebeccaPurple , PaleGoldenRod);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    color: white;
}

.category {
    grid-area: category;
    background-image: radial-gradient(circle at center, rgb(90, 100, 110), rgb(70, 80, 90) 50%, rgb(80, 80, 100));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.answer {
    grid-area: answer;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.utils {
    grid-area: utils;
    background-color: slategrey;
    color: grey;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.utils button {
    height: 100%;
    background: linear-gradient(0.25turn, rgb(189, 98, 187), powderblue, lightgoldenrodyellow);
    border: none;
    color: darkkhaki;
    font-size: 1em;
    cursor: pointer;
}

.utils button:hover {
    z-index: 5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.blank {
    grid-area: blank;
    background-image: radial-gradient(circle at 50% 0%, rgb(90, 100, 110), rgb(70, 80, 90) 50%, rgb(80, 80, 100));
}

.footer {
    grid-area: footer;
    text-align: center;
    color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navs {
    float: right;
    display: flex;
    align-items: center;
}

.navs ul {
    list-style: none;
}

.navs ul li {
    display: inline;
}

.answerInputDiv {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(90, 100, 110);
}

.answer input {
    font-size: 2em;
    height: 5vh;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    border: none;
    color: white;
    background-color: rgb(90, 100, 110);
}

.answer input:focus {
    border: none;
    border-bottom: 3px solid mediumturquoise;
    outline: none;
}

.answer button {
    font-size: 2em;
    border: none;
    background-color: rgb(90, 100, 110);
    color: white;
}

#loadButton {
    font-size: 2em;
    border: none;
    background-color: rgb(90, 100, 110);
    color: white;
    cursor: pointer;
}

#saveButton {
    font-size: 2em;
    border: none;
    background-color: rgb(90, 100, 110);
    color: white;
    cursor: pointer;
}

#loadButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#saveButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.correctAnswer {
    background-color: mediumaquamarine!important;
}

.incorrectAnswer {
    background-color: lightcoral!important;
}